*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.15;
    background-color: rgb(27, 77, 97);
    color: rgb(255, 255, 255);
    display: flex;
    flex-grow: 1;
}
div{
    /*border:2px rgb(73, 116, 117) solid;*/
    padding: 5px;
}
.head-div div{
    padding: 0;
}
body, html{
    height: 100%;
}
.col, .col-1, .col-2{
    display: flex;
}
.col{
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}
.col-1{
    flex-basis: 0;
    flex: 0 0 25%;
    max-width: 25%;
}
.col-2{
    flex-basis: 0;
    flex: 0 0 50%;
    max-width: 50%;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-grow{
    flex-grow: 1;
}
.flex-fill{
    flex: 1 1 auto;
}
.align-items-stretch{
    align-items: stretch;
}
.conteiner{
    display: flex;
    flex-grow: 1;
    height: 100vh;
}
/*.block{
    border:1px #ccc solid;
}*/
.box{
    text-align: center;
}
.box-head{
    text-align: left;
    background-color: rgb(37, 70, 80);
    padding: 12px;
    border-radius: 10px;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.267);
}
.bd-collaut{
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem;
}
.bd-callout-danger {
    border-left-color: #d9534f;
}  
.scroll{
    height: 100%;
    overflow-y: scroll;
}
.img-circle{
    border-radius: 50%;
    max-height: 100%;
    width: auto;
}
input{
    background: rgb(30, 47, 48);
    border: none;
    text-align: center;
    color: rgb(245, 245, 245);
    
}
table{
    font-size: 12px;
}
.search-comm{
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(102, 102, 102) ;
}
::placeholder{
    color: rgb(155, 155, 155);
    
}
.text-head{
    font-size: 12px;
    text-align: left;
}
.text-item-g td:last-child{
    color:rgb(153, 153, 153);
}
.fon-seren{
    background-image:url(/img/seren.png);
    background-size: 40px;
}
.fon-message{
    background-image:url(/img/message.png);
    background-size: 35px;
}
.fon-seren, .fon-message{
    background-position: bottom left;
    background-repeat: no-repeat;
    position: relative;
}
.counter{
    position: absolute;
    bottom: 10px;
    left: 50px;
}
.item1 {background-color: rgb(27, 77, 97); flex-shrink: 0; height: 100px;}
.item2 {background-color: rgb(27, 77, 97) !important; }
.item3 {background-color: rgb(27, 77, 97) !important; }

.btn{
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-block{
    display: block;
    width: 100%;
}
.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
.dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #545b62;
    border-color: #4e555b;
}
.btn-secondary.focus, .btn-secondary:focus {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
    box-shadow: 0 0 0 0.2rem rgba(130,138,145,.5);
}
.btn-secondary.focus, .btn-secondary:focus {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
    box-shadow: 0 0 0 0.2rem rgba(130,138,145,.5);
}
.btn-secondary:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
}
/* Dropdown Button */
.dropdown-toggle {
    background-color: rgb(37, 70, 80);
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.336);
  }
  /* Dropdown button on hover & focus */
  .dropdown-toggle:hover, .dropdown-toggle:focus {
    background-color: rgb(37, 70, 80);
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown.show .dropdown-menu{
      display: block;
  }
  
  /* Links inside the dropdown */
  .dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-menu a:hover {background-color: #ddd}
  
.graph, .graph div{
    padding: 0;
}
  /**/
  .graph {
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: rgb(120, 246, 248);
    margin: 15px;
  }
  .graph-mask {
    position: absolute;
    width: 65px;
    height: 65px;
    background: rgb(27, 77, 97) center center no-repeat;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    z-index: 1000;
    transform: translate3d(-50%, -50%, 0);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .slice {
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    clip: rect(0px, 35px, 70px, 0px);
    background: rgb(250, 117, 250);
  }
  .slice-mask {
    transform: rotate(0deg);
  }
  .slice-mask {
    background: rgb(250, 117, 250);
    transform: rotate(150deg);
  }
.graph-1 .slice-mask{
    transform: rotate(60deg);
}
.graph-2 .slice-mask{
    clip: rect(35px, 35px, 70px, 0px);
    transform: rotate(160deg);
}
.graph-3 .slice-mask{
    clip: rect(0px, 35px, 70px, 0px);
    background: rgb(243, 45, 45);
    transform: rotate(0deg);
}
.graph-4 .slice-mask{
    clip: rect(35px, 35px, 70px, 0px);
    background: rgb(243, 45, 45);
    transform: rotate(100deg);
}
.graph-5 .slice-mask{
    clip: rect(25px, 35px, 35px, 0px);
    background: rgb(250, 117, 250);
    transform: rotate(100deg);
}
.slice-block{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.graph-big .slice-big-1 {
    clip: rect(0px, 35px, 70px, 0px);
    background: rgb(105, 212, 231);
}
.graph-big .slice-big-2 {
    clip: rect(0px, 35px, 70px, 0px);
    background: rgb(250, 117, 250);
}
.graph-big .slice-big-3 {
    clip: rect(0px, 35px, 70px, 0px);
    background: rgb(199, 50, 50);
}
.graph-big {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: rgb(120, 246, 248);
    margin: 15px;
}
.graph-mask-big{
    position: absolute;
    width: 120px;
    height: 120px;
    background: rgb(27, 77, 97) center center no-repeat;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    z-index: 1000;
    transform: translate3d(-50%, -50%, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}
.graph-big .slice-big{
    clip: rect(25px, 35px, 35px, 0px);
    background: rgb(223, 231, 104);
    transform: rotate(50deg);
}
